<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Test</title>

	<link rel="stylesheet" href="/css/style.css">
	<!-- <script src="/javascripts/name-modal.js" defer></script> -->

</head>

<body>
	<div class="nav-container">
		<nav>
			<a class="btn" id="teacher-btn" href="/edit">Teacher</a>
			<a class="btn" id="student-btn" href="/test">Student</a>
		</nav>
	</div>
</body>

</html>