.questions {
	margin-inline: auto;
	margin-block: 1.5rem;
}

.question {
  border: unset;
  padding: 1.5rem;
  text-transform: lowercase;

  &::first-letter {
	  text-transform: uppercase;
  }

  &:nth-of-type(odd) {
    background-color: aliceblue;
  }
}